Package: libyaml-doc
Source: libyaml
Version: 0.2.1-1
Architecture: all
Maintainer: Anders Kaseorg <andersk@mit.edu>
Installed-Size: 1195
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/yaml/libyaml
Description: Fast YAML 1.1 parser and emitter library (documentation)
 LibYAML is a C library for parsing and emitting data in YAML 1.1, a
 human-readable data serialization format.
 .
 This package contains API documentation for developers in HTML
 format, and some example programs from the LibYAML distribution.
