Package: libyaml-0-2
Source: libyaml
Version: 0.2.1-1
Architecture: amd64
Maintainer: Anders Kaseorg <andersk@mit.edu>
Installed-Size: 452
Depends: libc6 (>= 2.14)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/yaml/libyaml
Description: Fast YAML 1.1 parser and emitter library
 LibYAML is a C library for parsing and emitting data in YAML 1.1, a
 human-readable data serialization format.
