Package: libyaml-0-2-dbgsym
Source: libyaml
Version: 0.2.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Anders Kaseorg <andersk@mit.edu>
Installed-Size: 123
Depends: libyaml-0-2 (= 0.2.1-1)
Breaks: libyaml-0-2-dbg (<< 0.1.7-1~)
Replaces: libyaml-0-2-dbg (<< 0.1.7-1~)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libyaml-0-2
Build-Ids: 37eadd42f2119b5648c6941bf6aaccf7eb883534
