Package: libyaml-dev
Source: libyaml
Version: 0.2.1-1
Architecture: amd64
Maintainer: Anders Kaseorg <andersk@mit.edu>
Installed-Size: 3129
Depends: libyaml-0-2 (= 0.2.1-1)
Suggests: libyaml-doc
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/yaml/libyaml
Description: Fast YAML 1.1 parser and emitter library (development)
 LibYAML is a C library for parsing and emitting data in YAML 1.1, a
 human-readable data serialization format.
 .
 This package contains development headers and static libraries.
